/* The actual main stylesheet specifically designed for dexi.rocks homepage */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    margin: 3rem;
}

#title { /* ONLY USE TO ACCENTUATE A SINGLE ELEMENT */
    /* Using rem as unit size due to https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/font-size#rems */
    font-size: 2rem;
    line-height: 4rem;
    width: 80dvw;
    text-wrap: balance;
    margin: 0;
    padding: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    align-items: left;
}

.box {
    display: flex;
    flex-direction: row;
    width: 80dvw;
}

.box div {
    flex: 1 1 0; /* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_flexible_box_layout/Controlling_ratios_of_flex_items_along_the_main_axis#combining_flex-grow_and_flex-basis */
    margin: 0;
    padding: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}

.box div > * {
    margin: 0;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.invis-bullet-point {
    list-style: none;
}

@media screen and (height <= 1000px) {
    body {
	justify-content: flex-start;
    }
}

@media screen and (width <= 1600px) {
    body {
        justify-content: flex-start;
    }
    .box {
        flex-direction: column;
    }
}
