/* The universal stylesheet used for style consistency throughout all websites hosted under dexi.rocks domain */

/* Using locally served fonts directly acquired from Google */
/* Potentially consider Chiron GoRound TC (no simplified) as the body font if Chinese ever gets used */
/* Custom CI worker needed to dynamically create a subset of Chinese fonts that only appear in the content */
/* Consider adapting an existing script and add a HTML checker to selectively choose Chinese characters based on context e.g. heading? */

/* Display font exclusively used for a *single element in the page only, e.g. article title */
@font-face {
    font-family: 'MuseoModerno';
    src: url('./fonts/MuseoModerno/MuseoModerno-VariableFont_wght.ttf') format('truetype');
    font-weight: 750; /* Closest match to Momo Trust Display's thickness, set as default */
}

@font-face {
    font-family: 'MuseoModerno';
    src: url('./fonts/MuseoModerno/MuseoModerno-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 700; /* Closest match to Momo Trust Display's thickness, set as default */
    font-style: italic;
}

/* Normal heading fonts */
@font-face {
    font-family: 'Momo Trust Display';
    src: url('./fonts/Momo_Trust_Display/MomoTrustDisplay-Regular.ttf') format('truetype');
}

/* Default font */
@font-face {
    font-family: 'Momo Trust Sans';
    src: url('./fonts/Momo_Trust_Sans/MomoTrustSans-VariableFont_wght.ttf') format('truetype');
}

/* Monospace font for codebase */
@font-face {
    font-family: 'Sometype Mono';
    src: url('./fonts/Sometype_Mono/SometypeMono-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Sometype Mono';
    src: url('./fonts/Sometype_Mono/SometypeMono-Italic-VariableFont_wght.ttf') format('truetype');
    font-style: italic;
}

body {
    background-color: #2c2c2c;
    font-family: 'Momo Trust Sans', sans-serif;
    font-size: 1.2rem;
    color: #cbcbcb;
    list-style: inside;
    font-weight: 350;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Momo Trust Display', sans-serif;
}

b {
    font-weight: 900;
}

p, li {
    line-height: 2rem;
}

code {
    font-family: 'Sometype Mono', monospace;
    font-size: 1.1rem;
    padding: 5px;
    border: 2px inset #2c2c2c;
    background-color: #222222;
}

/* You MUST set #title to a div element, period */
/* ONLY USE TO ACCENTUATE A SINGLE ELEMENT */
#title > * { /* Only used to set the font family for title, SET UP THE OTHER RULES ON SITE-SPECIFIC CSS FILES */
    font-family: 'MuseoModerno';
}

/* TODO: Add support for multiline code per https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/code#notes */

/* Based on https://blog.prototypr.io/align-svg-icons-to-text-and-say-goodbye-to-font-icons-d44b3d7b26b4 */
li > svg, li > object {
    top: 0.25em;
    position: relative;
}

/* https://stackoverflow.com/a/78216563 */
hr {
    display: block;
    background-color: #cbcbcb;
    width: 80dvw;
    border-radius: 50px;
    padding: 4px 0;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*  */

/* Color definition */
.yellow {
    color: #c2bc29;
}

.lime {
    color: #84be0f;
}

a {
    color: #006dc6;
}

a:hover {
    color: #cbcbcb;
}

a:visited {
    color: #c13bd9;
}

/* Useful stuff to note down:
 * - https://stackoverflow.com/a/7729610 for divider between items on a horizontal menu
 */
