/* The universal stylesheet used for style consistency throughout all websites hosted under dexi.rocks domain */

/* Using locally served Momo Trust Display and Momo Trust Sans directly acquired from Google Fonts */
@font-face {
    font-family: 'Momo Trust Display';
    src: url('./fonts/Momo_Trust_Display/MomoTrustDisplay-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Momo Trust Sans';
    src: url('./fonts/Momo_Trust_Sans/MomoTrustSans-VariableFont_wght.ttf') format('truetype');
}

body {
    background-color: #2c2c2c;
    font-family: 'Momo Trust Sans';
    font-size: 1.2rem;
    color: #cbcbcb;
    list-style: inside;
    font-weight: 350;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Momo Trust Display';
}

b {
    font-weight: 900;
}

p, li {
    line-height: 2rem;
}

/* https://stackoverflow.com/a/78216563 */
hr {
    background-color: #cbcbcb;
    height: 10px;
    width: 80vw;
    border-radius: 50px;
    padding: 0;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Color definition */
.yellow {
    color: #c2bc29;
}

.lime {
    color: #84be0f;
}

a {
    color: #006dc6;
}

a:hover {
    color: #cbcbcb;
}

a:visited {
    color: #c13bd9;
}

/* Useful stuff to note down:
 * - https://stackoverflow.com/a/7729610 for divider between items on a horizontal menu
 */